/* Variables */
@import "vars";

/* Mixins */
@import "mixins";

/* Default styles */
html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Bootstrap */
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/grid";

/* Blocks */
@import "blocks/header";
@import "blocks/container";
@import "blocks/intro";
@import "blocks/cover";
@import "blocks/nav";
@import "blocks/burger";
@import "blocks/about";
@import "blocks/team";
@import "blocks/title";
@import "blocks/services";
@import "blocks/clients";
@import "blocks/portfolio";
@import "blocks/filter";
@import "blocks/testimonials";
@import "blocks/contact";
@import "blocks/btn";
@import "blocks/footer";

/* Vendor libs */
@import "vendor/slick";


